@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom CSS */

:root{
    --background: #ffffff;
    --text-color: #5f6368;
    --icon-filter: none;
    --card-bg: #f0f4f9;
    --card-img: #ffffff;
    --hover: #e6eaf1;
    --greet-p: #c4c7c5;
}

.dark{
    --background: #131314;
    --text-color: #ffffff;
    --icon-filter: invert();
    --card-bg: #1E1F20;
    --card-img: #000000;
    --hover: #333537;
    --greet-p: #444746;
}

::selection{
    color: var(--text-color);
}



#root{
    display: flex;
    background: var(--background);
    animation: fadeIn 1.5s;
    transition: background-color 0.3s ease;
}

.sidebar{
    background: var(--card-bg);
}

.sidebar .new-chat{
    background: var(--hover);
}

.sidebar .new-chat img{
    filter: var(--icon-filter);
}

.recent{
    color: var(--text-color);
    animation: fadeIn 1.5s;
}

.sidebar img{
    width: 20px;
    filter: var(--icon-filter);
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: var(--text-color);
    cursor: pointer;
}

.sidebar .recent-entry:hover{
    background: var(--hover);
}

.sidebar .bottom-item{
    padding-right: 10px;
    cursor: pointer;
}

.main .nav{
    color: var(--text-color);
}

.main .user button{
    display: none;
}

.main .nav img{
    width: 40px;
    border-radius: 50%;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .greet p{
    color: var(--greet-p);
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}

.main .card{
    height: 200px;
    padding: 15px;
    background: var(--card-bg);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background: #ffffff;
    filter: var(--icon-filter);
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p{
    color: var(--text-color);
    font-size: 17px;
}

.main .card:hover{
    background-color: var(--hover);
}

.search-box{
    background: var(--card-bg);
}

.search-box img{
    width: 24px;
    filter: var(--icon-filter);
    cursor: pointer;
}

.search-box input{
    color: var(--text-color);
}

.bottom-info{
    color: var(--text-color);
}

.result::-webkit-scrollbar{
    display: none;
}

.result img{
    width: 40px;
    border-radius: 50%;
}

.result .result-title p{
    color: var(--text-color);
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

.result-data p{
    font-size: 17px;
    line-height: 1.8;
    color: var(--text-color);
}

@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width:600px) {
    .sidebar{
        display: none;
    }
    .main-bottom input{
        flex: none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
    .search-box input{
        font-size: 14px;
    }
    .main .greet{
        margin-bottom: 0;
    }
    .main .greet p{
        font-size: 30px;
    }
    .main{
        overflow: hidden;
    }
    .main .user button{
        display: flex;
    }
    .main .cards{
        display: flex;
        overflow-x: scroll;
    }
    .cards::-webkit-scrollbar{
        display: none;
    }
    .main .card{
        /* display: none; */
        width: 200px;
        flex-shrink: 0;
    }
}